.nav-container{
    display: flex;
 gap: 30px;
 justify-content: center;
}

.links{
    display: flex;
    justify-content: center;
    gap:20px;
}
.link{
    text-decoration: none;
    outline: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-family: 'MontSemibold', sans-serif;
    font-size: 16px;
}
.link-active{
    color:rgb(81,53,255);
    transition: 1s;
}
.dot{
    width: 5px;
    height: 5px;
    background:rgb(81,53,255) ;
    border-radius: 50%;
    opacity: 1;
    transition: 1s step-end;
}
.link:hover .dot{
    opacity: 1;
    transition: 1s;
}
.play{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgb(81,53,255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(81,53,255);
    margin-left: 50px;
}
.btn-container{




    
}